/* Gruvbox colors */
@define-color purple #d3869b;
@define-color orange #fe8019;
@define-color aqua   #8ec07c;
@define-color red    #fb4934;
@define-color yellow #fabd2f;
@define-color green  #b8bb26;
@define-color blue   #83a598;
@define-color bg     #1d2021;
@define-color bg2    #504945;
@define-color fg     #ebdbb2;

* {
    font-family: ComicMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @bg;
    color: #ebdbb2;
}

#workspaces button {
    color: @fg;
}

#workspaces button.active {
    border-bottom: 3px solid @fg;
}

#workspaces button.urgent {
    background-color: @orange;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#language,
#custom-weather,
#custom-updates,
#tray {
    margin: 7px 3px 0px 7px;
    padding: 5px;
}

#clock {
    color: @orange;
}

#battery {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
}

#backlight {
    color: @aqua;
}

#network {
    color: @purple;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @aqua;
}

#pulseaudio.muted {
    color: @red;
}

#language {
    color: @blue;
}

#custom-weather {
    color: @fg;
}

#custom-spotify {
    color: @green;
    margin-left: 1rem;
}

#custom-updates {
    color: @yellow;
}
